.content-inner {
    float: left;
    width: 100%;
    position: relative;
}

figure {
    margin-bottom: 1.5em;
}

.counter .number {
    font-size: 100px;
    color: #17e7a4;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

.counter .number.left {
    float: left;
    width: 30%;
}

@media screen and (max-width: 768px) {
    counter .number.left {
        width: 100%;
        line-height: 1.2;
    }
}

.counter .text {
    float: right;
    tex-align: left;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .counter .text {
        width: 100%;
        text-align: center;
    }
}

.counter .text h3 {
    margin: 0;
    padding: 0;
    position: relative;
}
.counter text h3.border-bottom:after {
    content: '';
    width: 50px;
}

.social {
    padding: 0;
    margin: 0;
    text-align: center;
}
.social li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.social li a {
    font-size: 22px;
    color: #fff;
    padding: 10px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}
@media screen and (max-width: 768px) {
    .social li a {
        padding: 10px 8px;
    }
}
.social li a:hover {
    color: #17e7a4;
}
.social li a:hover,
.social li a:active,
.social li a:focus {
    outline: none;
    text-decoration: none;
}

.row-bottom-padded-sm {
    padding-bottom: 1em;
}
